* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  padding-top: 50px;
  background: #00473e;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fa5246;
  font-size: 50px;
}

.container h2 {
  color: #faae2b;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
}

.container ul li {
  min-height: 200px;
  flex-basis: calc(100% / 4 - 20px);
  background: #f2f7f5;
  margin: 20px 10px;
  padding: 15px;
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
}

.container ul li:nth-child(9) {
  margin-left: calc(100% / 4 - -10px);
}

